.center {
  display: block;
  margin: 0 auto;
}

.iphone {
  background: url(/img/black_iphone.png) no-repeat center center;
  height: 1000px;
  position: relative;
  width: 458px;
}

.light {
  background: url(/img/light.png) no-repeat center center;
  height: 1000px;
  position: absolute;
  top: 0;
  width: 458px;
  z-index: 50;
}

.home {
  background: url(/img/home_screen.png) no-repeat center center;
  height: 1000px;
  position: absolute;
  top: 0;
  width: 458px;
  z-index: 20;
}

.next {
  background: url(/img/next_screen.png) no-repeat center center;
  height: 1000px;
  position: absolute;
  top: 0;
  width: 458px;
  z-index: 5;
}

.text {
  margin-top: 140px;
}

.logo {
  margin-bottom: 30px;
}

.app-store {
  margin: 75px auto 25px;
  width: 250px;
}

.made-by {
  text-align: center;
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    padding: 50px 0;
  }
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
  body {
    padding: 50px 0;
  }
}
